@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Login Page</h1>

<form asp-action="Login" method="post">
    Username
    <input name="username" type="text" class="form-control" />
    Password
    <input name="password" type="password" class="form-control" />

    <input type="submit" value="Login" />
</form>